<!--The content below is only a placeholder and can be replaced.-->
<div class="title">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>List of Properties</h2>
<div class="fix"><button (click)="loadProperties()">Refresh</button></div>
<ul>
  <li *ngFor="let prop of properties" class="propertylist">
    <h2>
      <span (click)="markPropId(prop._id)">{{ prop.name }}</span>
    </h2>
	<div><app-property-detail [clicked]="clickSwitch" [prop]="prop" [clickedPropId]="currPropId"></app-property-detail></div>
  </li>
</ul>
